{% extends "base.html" %}

{%block head%}
<div>
    <title>Task Master</title>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5" style="font-family: 'Times New Roman', Times, serif;"><b><a href="{{ url_for('index') }}">Task Master</a></b></h1>
            <hr class="my-1" style="background-color: rgb(245, 8, 8);">
            <p class="lead">Update your task:</p>
        </div>
    </div>
</div>

{%endblock%}

{% block body %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div>
        <form action="" method="POST">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter a Task"
                name="content">{{task.content}}</textarea>
            <br>
            <input type="submit" class="btn btn-warning" value="Update">
        </form>
    </div>
</div>
{%endblock%}